<a href="https://colab.research.google.com/github/cizzeso/DTS22_TS4/blob/kristanto-setyo-utomo/ts4_kris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import library yang diperlukan untuk mengolah data

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

Menghubungkan dengan drive penyimpan data (google)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Mengarahkan ke file sumber data yang akan diolah pada drive sebagai dataset dan menjadikan 'Date' sebagai kolom index

In [ ]:
#ubah pathnya sesuai lokasi dataset 
df=pd.read_csv('/content/drive/MyDrive/dts_ts4/covid_impact_on_airport_traffic.csv',index_col="Date",parse_dates=True)

In [ ]:
df.head()

,AggregationMethod,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
Date,,,,,,,,,,
2020-04-03,Daily,1.0,Kingsford Smith,64,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2020-04-13,Daily,1.0,Kingsford Smith,29,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2020-07-10,Daily,1.0,Kingsford Smith,54,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2020-09-02,Daily,1.0,Kingsford Smith,18,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2020-10-31,Daily,1.0,Kingsford Smith,22,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."

In [ ]:
df.tail()

,AggregationMethod,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
Date,,,,,,,,,,
2020-06-05,Daily,1.0,Seattle-Tacoma International,80,POINT(-122.308661576118 47.4505828917119),SeaTac,Washington,US-WA,United States of America (the),"POLYGON((-122.297594547272 47.434474106872, -1..."
2020-10-03,Daily,1.0,Seattle-Tacoma International,55,POINT(-122.308661576118 47.4505828917119),SeaTac,Washington,US-WA,United States of America (the),"POLYGON((-122.297594547272 47.434474106872, -1..."
2020-07-16,Daily,1.0,Seattle-Tacoma International,76,POINT(-122.308661576118 47.4505828917119),SeaTac,Washington,US-WA,United States of America (the),"POLYGON((-122.297594547272 47.434474106872, -1..."
2020-07-31,Daily,1.0,Seattle-Tacoma International,69,POINT(-122.308661576118 47.4505828917119),SeaTac,Washington,US-WA,United States of America (the),"POLYGON((-122.297594547272 47.434474106872, -1..."
2020-08-30,Daily,1.0,Seattle-Tacoma International,68,POINT(-122.308661576118 47.4505828917119),SeaTac,Washington,US-WA,United States of America (the),"POLYGON((-122.297594547272 47.434474106872, -1..."

In [ ]:
# cek masing-masing kolom 

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7247 entries, 2020-04-03 to 2020-08-30
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AggregationMethod  7247 non-null   object
 1   Version            7247 non-null   float64
 2   AirportName        7247 non-null   object
 3   PercentOfBaseline  7247 non-null   int64
 4   Centroid           7247 non-null   object
 5   City               7247 non-null   object
 6   State              7247 non-null   object
 7   ISO_3166_2         7247 non-null   object
 8   Country            7247 non-null   object
 9   Geography          7247 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 622.8+ KB

Mengecek type dari masing-masing data

In [ ]:
# kolom 'Date' masih memiliki object type. maka harus diubah ke type datetime

df.dtypes

AggregationMethod     object
Version              float64
AirportName           object
PercentOfBaseline      int64
Centroid              object
City                  object
State                 object
ISO_3166_2            object
Country               object
Geography             object
dtype: object

In [ ]:
# Check the null values
df.isnull().sum()

AggregationMethod    0
Version              0
AirportName          0
PercentOfBaseline    0
Centroid             0
City                 0
State                0
ISO_3166_2           0
Country              0
Geography            0
dtype: int64

In [ ]:
# Check the values
df.isna().sum()

AggregationMethod    0
Version              0
AirportName          0
PercentOfBaseline    0
Centroid             0
City                 0
State                0
ISO_3166_2           0
Country              0
Geography            0
dtype: int64

In [ ]:
df.describe(include='all')

,AggregationMethod,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
count,7247,7247.0,7247,7247.000000,7247,7247,7247,7247,7247,7247
unique,1,NaN,28,NaN,28,27,23,23,4,28
top,Daily,NaN,Hartsfield-Jackson Atlanta International,NaN,POINT(-84.4279188822754 33.6410758198944),New York,New York,US-NY,United States of America (the),"POLYGON((-84.4299745559692 33.657852680999, -8..."
freq,7247,NaN,262,NaN,262,523,523,523,4441,262
mean,NaN,1.0,NaN,66.651442,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,22.134433,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,1.0,NaN,53.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,1.0,NaN,67.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,1.0,NaN,84.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,1.0,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN

Kesimpulan:
- Terdapat 4 countries, 23 states, 27 cities dan 28 airports pada dataset.
- Centroid and Country merupakan data POINT and POLYGON, yang menunjukkan lokasi geografi/koordinat (geographical locations).
  - data koodrinat ini digunakan untuk analisis diskriptif dan visualisasi untuk mengetahui insight dari dataset yang tersedia
- Dari hasil tersebut juga terlihat bahwa dataset tidak memiliki missing value.
- Modeling dilakukan menggunakan index 'Date' dan variabel 'PercentOfBaseline' yang menunjukkan persentase dari volume lalu lintas (traffic) menuju dan dari bandara yang dibandingkan (persentase) dengan periode baseline (1 februari 2020 hingga 15 maret 2020)
- Tujuan modeling adalah untuk membuat prediksi kepadatan lalulintas baik yang menuju atau dari bandara.

**Data processing**
Tahapan yang dilakuan:
1. Mengambil data 'PercentOfBaseline' secara timeseries (Date) yang akan digunakan dalam model

In [30]:
#mengambil dataset PercentOfBaseline

dataset=df['PercentOfBaseline']
dataset=pd.DataFrame(dataset)

print(dataset)

            PercentOfBaseline
Date
2020-04-03                 64
2020-04-13                 29
2020-07-10                 54
2020-09-02                 18
2020-10-31                 22
...                       ...
2020-06-05                 80
2020-10-03                 55
2020-07-16                 76
2020-07-31                 69
2020-08-30                 68

[7247 rows x 1 columns]

In [31]:
#membagi dataset menjadi data train 80% dan data test 20%

from sklearn.model_selection import train_test_split

train_size = int(len(dataset) * 0.8) # bobot 80%
train, test = dataset.iloc[0:train_size], dataset.iloc[train_size:len(dataset)]

print(train.shape, test.shape)

(5797, 1) (1450, 1)

In [39]:
# Scaling data menjadi antara 0 sampai 1 (normalisasi data)

from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(train)
test_set_scaled = sc.fit_transform(test)

In [37]:
# membuat struktur data train dengan 60 timesteps and 1 output

X_train = []
y_train = []
for i in range(60, 5797):
    X_train.append(training_set_scaled[i-60:i, 0])
    y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)

# Reshaping
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [38]:
print(X_train.shape, y_train.shape)

(5737, 60, 1) (5737,)

In [41]:
# membuat struktur data test dengan 60 timesteps and 1 output

X_test = []
y_test = []
for i in range(60, 1450):
    X_test.append(test_set_scaled[i-60:i, 0])
    y_test.append(test_set_scaled[i, 0])
X_test, y_test = np.array(X_test), np.array(y_test)

# Reshaping
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [42]:
print(X_test.shape, y_test.shape)

(1390, 60, 1) (1390,)

In [ ]:
# silahkan dilanjutkan dengan "Building the Model"